@media screen and (max-width: 1080px) {
    .soup__content__topRight a{
        font-size: 20px;
    }
    .delicious h3{
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
    .title h3{
        font-size: 32px;
        line-height: 40px;    
     }
}
@media screen and (max-width: 992px) {
    .banner h3{
        font-size: 44px;
        line-height: 53px;
    }
    .banner p{
        padding-right: 0;
    }
    .stats{
        padding-top: 80px;
        margin-top: 0px;
    }
    .title h3{
       font-size: 32px;
       line-height: 40px;  
    }
    .book h3{
        font-size: 32px;
    } 
    .book__image{
        height:200px;
    }
    .book__layout{
        height:200px;
    }
    .footer__listIcon{
        text-align: center;
    }
    .footer__top h6{
        font-size: 20px;
    }
    .footer__bottom p:first-of-type{
        text-align: center;
    }
    .footer__bottom ul{
        text-align: center;
    }
    .video__thumbnail{
        min-height: 400px;
    }
    .blog__bottomHeader{
        line-height: 30px;
    }
}

@media screen and (max-width:824px) {
    #navbar_menuContent li{
        padding: 5px 0px;
    }
}

@media screen and (max-width:800px) {
    header{
        margin-top: 60px;
        min-height: 600px;
    }
    .banner h3{
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width:767px) {
    #navbar_menuContent li a{
        font-size: 16px;
    }
}
@media screen and (max-width:736px) {
    .delicious h3{
        font-size: 35px;
        line-height: 40px;
    }
    .blog__bottomHeader{
        font-size: 20px;
    }
    #small-dialog .mfp-close{
        top:-calc(56.25vw);
    }
}

@media screen and (max-width:640px) {
    .video__thumbnail{
        min-height: 350px;
    }
}

@media screen and (max-width:600px) {
    .nav__search{
        display: none;
    }
    .about .title h6{
        font-size: 16px;
    }
    .about__text p{
        font-size: 16px;
        line-height: 26px;
    }
    .book .book__footer p{
        font-size: 16px;
    }
    .soup__content>p{
        font-size: 16px;
        line-height: 26px;
    }
    .stats__item h4{
        font-size: 32px;
    }
    .title h3{
        font-size: 30px;
        line-height: 38px;    
    }
    .say__item h4{
         font-size: 22px;
     }
    .say__item p:nth-of-type(2){
        font-size: 16px;
    }
    .book .book__text p{
        font-size: 16px;
    }
    .stats__item p{
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width:576px) {
    .banner button{
        margin-top: 24px;
    }
    .book h6{
        font-size: 16px;
    }
    .book h3{
        font-size: 30px;
    }
    .book p{
        font-size: 16px;
    }
    .category__info h4{
        font-size: 18px;
    }
    .category__info h6{
        font-size: 16px;
    }
    .blog__bottom p{
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width:480px) {
    header{
        min-height: 450px;
    }
    .banner{
        max-width: 500px;
        margin-top: 30px;
    }
    .banner h3{
        font-size: 28px;
        line-height: 38px;
    }
    .banner button{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .title h3{
        font-size: 26px;
        line-height: 36px;
    }
    .stats__item p{
        font-size: 14px;
    }
    .say__item h4{
        font-size: 20px;
        line-height: 30px;
    }
    
}
@media screen and (max-width:375px){
    .banner{
        margin-top: 0;
    }
    .banner button{
        margin-top: 20px;
    }
    .title h3{
        font-size: 24px;
        line-height: 34px;
    }
    .title h6{
        font-size: 16px;
    }
    .video__thumbnail{
        min-height: 300px;
    }
    .footer__bottom ul li{
        margin-left: 8px;
    }
}