*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --heading-color: #232121;
    --body-bgcolor: #fff;
    --background-light:rgba(130, 115, 252, .05);
    --border-color-light: #eee;
}
html, body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: var(--body-bgcolor)
}
p{
    color: var(--font-color);
}
.title h6{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;
}
.title h3{
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    color: var(--heading-color);
}
button{
    padding: 12px 42px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 48px;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .5s;
}
button span{
    font-size: 18px;
    margin-left: 10px;
}
button:hover{
    background-color: white;
    color: var(--primary-color);
}
/* Header */
header{
    position: relative;
    min-height: 700px;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
/* Header Navbar */
header nav{
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav__brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.navbar__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__search{
    position: relative;
}
.nav__search input{
    height: 45px;
    color: var(--font-color);
    padding: 10px 50px 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.nav__search a{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--font-color);
}

.nav__modeChange a{
    text-decoration: none;
    margin: 0px 10px;
    background-color: transparent;
}
.nav__modeChange i{
    color: white;
    font-size: 34px;
}
.navbar__right .nav__menuBtn{
    font-size: 30px;
    color: white;
    border: none;
    background-color: transparent;
}

#navbar_menuContent{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgb(6 3 0 / 77%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
}
.navbar__closeBtn{
   
    border: none;
    background-color: transparent;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.navbar__closeBtn i{
    font-size: 14px;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
#navbar_menuContent li{
    list-style: none;
    padding: 10px 0px;
    text-align: center;
}
#navbar_menuContent li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .4s;
}
#navbar_menuContent li:hover a{
    color: var(--primary-color);
}
/* Header banner */
.banner{
    max-width: 600px;
    margin-top: 100px
}
.banner h3{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    color: white;
}
.banner p{
    color: white;
    margin: 24px 0 0 0;
    padding-right: 48px;
}
/* About */

/* Book */

/* Category */

/* SOUP */
.soup__content{
    padding: 40px;
    border-radius: 8px;
    border: 1px solid var(--border-color-light);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
}
.soup__content:hover i{
    color: var(--body-bgcolor);
    background-color: var(--primary-color);
}
.soup__content i{
    font-size: 25px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    background-color: var(--background-light);
    color: var(--primary-color);
    border-radius: 8px;
    margin-right: 30px;
    transition: all .5s;
}
.soup__content__topRight a{
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--heading-color);
}
.soup__content__topRight a:hover{
    color: var(--primary-color);
}
.soup__content>p{
    margin-top: 16px;
    font-size: 18px;
}
/* Delicious */
.delicious{
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.delicious__overlay{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.delicious__content{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
.delicious h3{
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: white;
}
.delicious__button button:last-of-type{
    background-color: var(--primary-color);
    border: 2px solid transparent;
    color: white;
    transition: all .3s;
}
.delicious__button button:last-of-type:hover{
    opacity: 0.8;
}
/* stats */
.stats{
    text-align: center;
    margin-top: -70px;
}
.stats__item{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    transition: all .4s;
}
.stats__item:hover{
    transform: translateY(-10px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.stats__item i{
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 26px;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.stats__item h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 42px;
    font-weight: 600;
}
.stats__item p{
    font-size: 18px;
    font-weight: 600;
}
/* Blog */

/* Say */

/* Footer */